<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Logs</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>The transaction logs of {{user}}</h1>
        <table>
            <thead>
                <tr>
                    <th scope="col">Sender</th>
                    <th scope="col">Receiver</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{log[0]}}</td>
                    <td>{{log[1]}}</td>
                    <td>{{log[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form action="/">
            <button>Back to Home</button>
        </form>
    </div>
</body>
</html>